



/* just making its own css file because of class name overlap 
instead of re writing all the class names */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .join-group-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .join-group-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .join-group-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 7px;
    margin-top: 7px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; /* Ensures padding doesn't affect the width */
  }
  
  .submit-btn {
    background-color: #5d5fef;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }