body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d9d9d9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f375b;
  padding: 0 20px;
  height: 65px;
}

.navbar-logo img {
  height: 50px; /* Adjust based on your logo's size */
}

.navbar-links,
.navbar-auth {
  display: flex;
}
.navbar-links {
  margin-left: 100px;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
}

.card-wrap {
  display: flex;

  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  justify-content: flex-start; /* Changed from space-between to flex-start */
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 60px;
}

.card {
  flex: 0 0 calc(25% - 20px); /* Changed from flex: 1 1 to flex: 0 0 */
  background-color: whitesmoke;
  max-width: 255px; /* This value can be adjusted as needed */
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.card img {
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.card h1 {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 35px;
}

.card h2 {
  margin-top: -20px;
  margin-left: 10px;
  font-size: 15px;
}

h3 {
  margin-left: 10px;
  margin-top: 30px;
  font-size: 12px;
}

.card h4 {
  margin-left: 10px;
  font-size: 12px;
}

.card h5 {
  margin-left: 10px;
  font-size: 12px;
}

.table-avg {
  display: flex;
  justify-content: center;
}

.table-avg th,
td {
  padding-left: 7px;
  padding-right: 7px;
}

.table-avg td {
  text-align: center;
}

.averages-header {
  text-align: center;
  font-size: 20px;
  margin-bottom: 1px;
  margin-top: 5px;
}
